
    <h1>Help Page</h1>
    <p>
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
      Help Page
      <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
      is the sample application for the tutorial.
    </p>